/target
/data
dist
.vscode
.env
.env.*
.surfpool
keys
/zelana-db
zelana-db_secondary
zelana-db_secondary_secondary
**/zelana-db_secondary_secondary
node_modules
*.json
!package.json
!package-lock.json
!tsconfig.json

*.ccs
*.pk
*.vk
*.proof
*.pw

.codebase-index