apiVersion: v1
kind: Service
metadata:
  name: coordinator
  labels:
    app: coordinator
spec:
  type: ClusterIP
  selector:
    app: coordinator
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
