name: Cargo

on:
  push:
    branches:
      - main
      - v[0-9]+.[0-9]+
  pull_request:
    branches:
      - main
      - v[0-9]+.[0-9]+
    paths:
      - "**/*.rs"
      - "**/Cargo.toml"
      - "**/Cargo.lock"
      - ".github/scripts/**"
      - ".github/workflows/cargo.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  SHELL: /bin/bash
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

jobs:
  clippy-nightly:
    strategy:
      matrix:
        os:
          - os: macos-15
          - os: ubuntu-24.04
            container: docker.io/rust:1-alpine3.22
          - os: windows-2025
    runs-on: ${{ matrix.os.os }}
    container:
      image: ${{ matrix.os.container }}
    env:
      RUSTFLAGS: ${{ matrix.os.rustflags }}
    steps:
      - if: ${{ contains(matrix.os.container, 'alpine') }}
        run: |
          apk update
          apk add bash git

      - name: Mark repo as safe
        if: runner.os != 'Windows'
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Mark repo as safe (Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: git config --global --add safe.directory "$env:GITHUB_WORKSPACE"
        
      - uses: actions/checkout@v6

      - uses: mozilla-actions/sccache-action@v0.0.9
        with:
          version: "v0.10.0"

      - name: Setup Rust toolchain
        run: |
          rustup show
          rustup component add clippy


      - name: Run Clippy
        run: |
          chmod +x scripts/cargo-clippy-nightly.sh
          chmod +x scripts/cargo-for-all-lock-files.sh
          scripts/cargo-clippy-nightly.sh

      - name: Build all crates
        run: |
          cargo build --all-targets --all-features
